@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto',sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: bisque;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    background-color: rgb(229, 22, 22);
    min-width: 300px;
    max-width: 700px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0,0,0);
    text-align: center;
}

h1{
    color: white;
    font-size: 25px;
    font-weight: 900;
    margin-bottom: 10px;
}

.one{
    color: rgb(0, 255, 38);
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: 700;
    text-transform: capitalize;
}

.btn{
    display: flex;
    justify-content: center;
    gap: 10px;
}

button{
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: rgb(32, 32, 209);
    color: white;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    box-shadow: 3px 3px 7px rgba(0,0,0);
    margin-bottom: 10px;
}

button:hover{
    background-color: blue;
}

.two{
    color: rgb(244, 161, 8);
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
}

.header{
    padding: 10px;
}

h3{
    color: white;
    font-size: 20px;
    font-weight: 900;
    text-transform: capitalize;
    margin-bottom: 10px;
}

.three{
    background-color: rgb(63, 232, 40);
    color: rgb(255, 255, 0);
    font-size: 20px;
    font-weight: 700;
}

.three:hover{
    background-color: rgb(44, 225, 35);
}

span{
    color: black;
}