
@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&display=swap');

*{
    font-family: "Agdasima", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: bisque;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    background-color: rgb(220, 191, 74);
    width: 300px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0,0,0);
}

h2{
    text-align: center;
    margin-bottom: 10px;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 700;
    color: rgb(0, 42, 255);
}

.length{
    width: 100%;
    margin-bottom: 10px;
}

.length label{
    font-size: 20px;
    font-weight: 800;
    color: blueviolet;
    text-transform: capitalize;
}

#one{
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
}

.input-group{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.input-group label{
    text-align: center;
}

.input-group label{
    font-size: 20px;
    font-weight: 700;
    color: aqua;
}

.footer{
    display: flex;
    margin-bottom: 10px;
}

.footer button{
    padding: 10px 15px;
    background-color: bisque;
    border: none;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}

.btn{
    padding: 10px 15px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 700;
    background-color: chocolate;
    border: none;
    cursor: pointer;
    color: white;
    text-transform: capitalize;
    border-radius: 5px;
}

.btn:hover{
    background-color: brown;
}

.footer button:hover{
    background-color: rgb(240, 150, 72);
    color: white;
}

.footer input{
    flex: 1;
    padding: 10px;
    outline: none;
}